<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileWatcherSetting" type="ConsoleUI.Configuration.FileWatcherSettingSection, ConsoleUI"/>
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <FileWatcherSetting>
    <Localization culture="ru-RU"></Localization>
    <ListeningFolders>
      <add path="D:/1" />
      <add path="D:/2" />
    </ListeningFolders>
    <MovingRules>
      <add fileNamePattern="[1-9]*.txt" targetFolder="D:/3/" isSerialNumber="true" isDating="true"></add>
      <add fileNamePattern="[a-z]*.txt" targetFolder="D:/3/" isSerialNumber="true" isDating="true"></add>
    </MovingRules>
  </FileWatcherSetting>
  
</configuration>